version: "3"

services:

  selenium-remote:
    image: selenium/standalone-chrome:3.14.0-beryllium
    hostname: selenium-remote
    ports:s
      - 4444:4444
    volumes:
      - ../../../logs:/tmp/selenium
    restart: always

  rescuewill:
    image: flamedancer/rescuewill
    entrypoint: python /rescuewill/hello.py
    hostname: rescuewill
    environment:
      - "CONFIG_MODE=production"
      - "CONFIG_NS=production"
      - "FLASK_ENV=production"
      - "TZ=Asia/Shanghai"
    ports:
      - 5000:5000
    volumes:
      - ../../..:/rescuewill
    depends_on:
      - selenium-remote


networks:
  default:
  external:
    name: my-net