version: "3"

services:

  selenium-remote:
    image: selenium/standalone-chrome:3.14.0-beryllium
    hostname: selenium-remote
    ports:
      - 4444:4444
    volumes:
      - ../../../logs:/tmp/selenium
    restart: always

  rescuewill:
    image: flamedancer/rescuewill
    entrypoint: python /rescuewill/selenium_work.py > /rescuewill/logs/selenium.log
    hostname: rescuewill
    environment:
      - "CONFIG_MODE=production"
      - "CONFIG_NS=production"
      - "FLASK_ENV=production"
      - "TZ=Asia/Shanghai"
    ports:
      - 5000:5000
    volumes:
      - ../../..:/rescuewill
    depends_on:
      - selenium-remote
    restart: always


networks:
  default:
    external:
      name: my-net