<div id="home_template" class="content_template">      
  <div class="row row-offcanvas row-offcanvas-right">
    <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar">
      <div class="list-group">
        <a href="#" class="list-group-item">Top</a>
        <a href="#" class="list-group-item">今日安排</a>
        <a href="#" class="list-group-item">每日任务</a>
        <a href="#" class="list-group-item">还有这些事情可以做</a>
        <a href="#" class="list-group-item">这些需要加深记忆</a>
        <a href="#" class="list-group-item">概况</a>
        <a href="#" class="list-group-item">Link</a>
        <a href="#" class="list-group-item">Link</a>
        <a href="#" class="list-group-item">Link</a>
        <a href="#" class="list-group-item">Link</a>
      </div>
    </div><!--/.sidebar-offcanvas-->

    <div class="col-xs-12 col-sm-9">
      <p class="pull-right visible-xs">
        <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas" onclick="active_sidebar()">Toggle nav</button>
      </p>
      <div class="jumbotron">
        <div class="progress">
          <div id="date_progress" class="progress-bar" role="progressbar"  style="width: 80%;">
            60%
          </div>
        </div>
        <p>今天是<span id="year"></span>年的第<span id="today_year_index"></span>天</p>
      </div>
      <div class="row">
        <div class="col-xs-6 col-lg-4">
          <h2>Heading</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div><!--/.col-xs-6.col-lg-4-->
        <div class="col-xs-6 col-lg-4">
          <h2>Heading</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div><!--/.col-xs-6.col-lg-4-->
        <div class="col-xs-6 col-lg-4">
          <h2>Heading</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div><!--/.col-xs-6.col-lg-4-->
        <div class="col-xs-6 col-lg-4">
          <h2>Heading</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div><!--/.col-xs-6.col-lg-4-->
        <div class="col-xs-6 col-lg-4">
          <h2>Heading</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div><!--/.col-xs-6.col-lg-4-->
        <div class="col-xs-6 col-lg-4">
          <h2>Heading</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div><!--/.col-xs-6.col-lg-4-->
      </div><!--/row-->
    </div><!--/.col-xs-12.col-sm-9-->


  </div><!--/row-->
</div>
<script type="text/javascript">
  function isLeapYr(yr) {

      //判断闰年
      return (yr % 4 === 0 && yr % 100 !== 0) || (yr % 100 === 0 && yr % 400 === 0);

  }

  function count(date) {
      var y = date.getFullYear();
      var m = date.getMonth();
      var d = date.getDate();
      var mdays = [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31];
      var mSum = 0;
      var sum = 0;

      //如果是闰年的话，那么2月份就应该有29天
      isLeapYr(y) ? mdays[1] = 29 : mdays[1];

      //计算该月份之前的总天数，比如m=3，那么就计算1和2月的总天数
      for (var i = 0; i < m - 1; i++) {
          mSum += mdays[i];
      }

      //加上当月天数
      sum = mSum + d;

      return sum;
  }
  
  $(function (){
    var today = new Date();
    var year = today.getFullYear();
    var all_day_num = isLeapYr(year) ? 366 : 365;
    var today_year_index = count(today);
    var process = (today_year_index * 100 / all_day_num).toFixed(1) + "%" ;
    $("#year").html(year);
    $("#today_year_index").html(today_year_index);
    $("#date_progress").css("width", process).html(process);
     
  });
</script>